<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="MessagingQueueHostAddress" value="192.168.5.1"/>
    <add key ="RabbitMQPort" value="5672"/>
    <add key ="RabbitMQUserName" value="rabbitmq"/>
    <add key ="RabbitMQPassword" value="rLrLY3hKPUYbNoSR"/>
    <add key ="RabbitMQVirtualHost" value="/"/>
    <add key ="QueueName" value="Netas1"/>
    <add key ="MessagingQueueOptions" value="0"/>
    <add key ="KafkaPort" value="9092"/>
    <add key ="" value=""/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>